

<!-- Start of About me 2 Section -->

<div class="container-fluid aboutMe" id="abtme2">

  <div class="row">

    <center>
    <a href="#/about">
      <i class="fa fa-angle-double-up animated fadeInDown" style="font-size:1.4em;" aria-hidden="true"></i>
    </a>
    </center>

    <br />




    <div class="col-md-8 col-md-offset-2">

      <div class="col-md-6">
        <center>
          <object>
            <embed class="animated fadeInLeft" src="svg/res.svg" width="70%" height:"70%"/>
          </object>
        </center>

      </div>

      <div class="col-md-6">
        <h2 class="herotext2 animated fadeInRight">RESPONSIVENESS</h2>
        <p class="abt2Desc  animated fadeInRight">
Simple yet stunning Websites utilizing the Twitter Bootstrap framework for both Mobiles and Desktops.
        </p>
      </div>


    </div>

  </div>

<br />
<br />
  <!-- 2nd row  desk-->
  <div class="row" ng-if="!check">

    <div class="col-md-8 col-md-offset-2">

      <div class="col-md-6">
        <h2 class="herotext2  animated fadeInLeft" style="text-align:right;">DESIGN</h2>
        <p class="abt2Desc animated fadeInLeft" style="text-align:right;">
Traditional User Interface design practices coupled with a touch of awesomeness to produce a multitude of UI mockups for Websites and Mobile Applications .
        </p>
      </div>

            <div class="col-md-6">
              <center>
                <object>
                  <embed class="animated fadeInRight" src="svg/vector.svg" width="50%" height:"50%"/>
                </object>
              </center>

            </div>


    </div>

  </div>

    <br ng-if="!check" />
    <br ng-if="!check"/>


    <!-- 2nd row  mobile-->
    <div class="row" ng-if="check">

      <div class="col-md-8 col-md-offset-2">

              <div class="col-md-6">
                <center>
                  <object>
                    <embed class="animated fadeInRight" src="svg/vector.svg" width="50%" height:"50%"/>
                  </object>
                </center>

              </div>
              <div class="col-md-6">
                <h2 class="herotext2  animated fadeInLeft" style="text-align:right;">DESIGN</h2>
                <p class="abt2Desc animated fadeInLeft" style="text-align:right;">
        Traditional User Interface design practices coupled with a touch of awesomeness to produce a multitude of UI mockups for Websites and Mobile Applications .
                </p>
              </div>



      </div>

          <br />
          <br />

    </div>


  <!-- 3rd Row -->

  <div class="row satis">

    <div class="col-md-8 col-md-offset-2 ">

      <div class="col-md-6">
        <center>
          <object>
            <embed class="animated fadeInLeft" src="svg/smile.svg" width="37%" height:"37%"/>
          </object>
        </center>

      </div>

      <div class="col-md-6 ">
        <h2 class="herotext2  animated fadeInRight">SATISFACTION</h2>
        <p class="abt2Desc  animated fadeInRight">
  Because at the end of the day, my ultimate goal is to create products which exceed your expectations!
        </p>
      </div>



    </div>

  </div>


</div>


<!-- END of About me 2 Section -->
