<style>
.bg{

  padding: 10% 0%;
  font-family: 'Raleway-Light';
  background-image: url("images/bgg.JPG");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center top;
  border-bottom: 2px solid #ddd;
  margin-bottom: 2.5%;
}
</style>


<div class="container-fluid">

<div class="row bg">
<center>
  <a class="svg" href="#/home">
  <object >
    <embed class="animated smallsvg fadeInDown" src="svg/a.svg" width="15%" height:"15%"/>
  </object>
  </a>
</center>

</div>


<div class="row">
    <div class="col-md-8 col-md-offset-2">
  <h1 class="hugeEmail animated shake">ritheshrsohan7@gmail.com</h1>
</div>
</div>


  <div class="row">

    <div class="col-md-6 col-md-offset-3">

      <div class="col-md-6">
        <div  class="positionsmallsvg">
          <a class="svg" href="https://github.com/ritheshrohan">
          <object>
            <embed class="animated smallsvg fadeInDown" src="svg/github.svg" width="50%" height:"50%"/>
          </object>
          </a>
        </div>
      </div>

      <div class="col-md-6">
        <div  class="positionsmallsvg">
            <a class="svg" href="https://in.linkedin.com/in/ritheshrohan">
          <object>
            <embed class="animated smallsvg fadeInDown" src="svg/linkedin.svg" width="50%" height:"50%"/>
          </object>
        </a>
        </div>
      </div>


  </div>

  </div>

<br />
<br ng-if="!check"/>
<br ng-if="!check"/>

  <center>
    <a href="#/home" class="animated fadeInDown">
        <i class="fa fa-angle-double-up animated fadeInDown" style="font-size:1.4em;" aria-hidden="true"></i>
    </a>
  </center>

  <br />


  <nav class="navbar navbar-inverse navbar-fixed-bottom">
    <div class="container-fluid">
      <p>
        &copy; ritheshrohan2016
      </p>
    </div>
  </nav>

</div>
